@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fefefe;
  --primary: #7562e0;
  --dark-mode-S900: #1a1a29;
  --dark-mode-S1000: #181824;
  --dark-mode-S200: #31313f;
  --gradient-1: linear-gradient(
    180deg,
    #6473ff 0%,
    #2134e1 99.99%,
    #152bf1 100%
  );
  --gradient-2: linear-gradient(
    139deg,
    #f97878 9.79%,
    rgba(255, 176, 119, 0.81) 64.34%,
    rgba(255, 176, 119, 0.81) 90.36%
  );
  --gradient-3: linear-gradient(
    140deg,
    #f97878 0%,
    #4052fb 73.99%,
    #0720ff 100%
  );
  --gradient-4: linear-gradient(
    142deg,
    #26c8fc 6.46%,
    #57ecc8 58.9%,
    #49f5db 93.88%
  );
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--dark-mode-S900);
  color: var(--white);
}

section {
  margin: 120px auto;
}

nav {
  background: var(--dark-mode-S1000);
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
}

.nav-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.container {
  width: 80%;
  margin: auto;
}

#header {
  display: flex;
  margin: 60px auto;
  justify-content: space-between;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  max-width: 500px;
}

.header-content h2 {
  font-size: 42px;
}

.header-content h1 {
  font-size: 62px;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.btn {
  padding: 14px 28px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn img {
  width: 14px;
  height: 14px;
}

.primary-btn {
  background: var(--primary);
  color: var(--white);
}

.secondary-btn {
  background: transparent;
  border: 1px solid var(--primary);
  color: var(--white);
}

.title {
  color: var(--primary);
}

.description {
  margin-top: 10px;
}

.experiences {
  display: flex;
  gap: 20px;
  align-items: center;
}

.experiences-title {
  color: var(--primary);
  font-size: 80px;
}

.experiences p {
  font-size: 18px;
  font-weight: bold;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.skill {
  height: 250px;
  border-radius: 10px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.skill img {
  width: 50px;
}

.skill h1 {
  font-size: 32px;
}

.skill-1 {
  background: var(--gradient-1);
}

.skill-2 {
  background: var(--gradient-2);
}

.skill-3 {
  background: var(--gradient-3);
}

.skill-4 {
  background: var(--gradient-4);
}

.services-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

.service {
  height: 300px;
  border: 2px solid var(--primary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  gap: 10px;
}

.service img {
  width: 50px;
}

.service:hover {
  background: var(--gradient-1);
  border: none;
  cursor: pointer;
}

.service:hover .title {
  color: var(--white);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 50px;
  gap: 30px;
}

.project {
  background: var(--dark-mode-S200);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project img {
  min-width: 100%;
}

.project .buttons-wrapper {
  justify-content: space-between;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social-links {
  max-width: 300px;
}

.social-links p {
  font-weight: bold;
  margin-bottom: 20px;
}

.form-wrapper {
  max-width: 500px;
}

.form-wrapper input {
  width: 100%;
  margin-top: 15px;
  background: var(--dark-mode-S200);
  padding: 16px;
  border: none;
  outline: none;
  color: var(--white);
  border-radius: 5px;
}
.form-wrapper textarea {
  width: 100%;
  margin-top: 15px;
  background: var(--dark-mode-S200);
  padding: 16px;
  border: none;
  outline: none;
  color: var(--white);
  border-radius: 5px;
  margin-bottom: 20px;
}

#footer {
  margin-top: 120px;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-text {
  opacity: 0.5;
}
